*{
    box-sizing: border-box;
    margin: 0;
    font-family: "suisse intl", sans-serif;
}

html{
    height: 100%;
}
body{
    background: radial-gradient(95.62% 200.61% at 6.56% 4.38%, #1F1F1F 0%, #141414 100%);
    background-repeat: no-repeat;
    height: 100%;

}

/*navbar*/

.navbar{
    background: rgba(29, 29, 29, 0.09);
    height: 140px;
    color: white;
    padding-top: 39px;
}

.wrapper{
    max-width: 1156px;
    margin: 0 auto;
    position: relative;
}

nav{
    display: flex;
    margin: auto 0;
    align-items: center;
    font-size: 18px;
    font-weight: 600;
    
}

nav .logo{
    width: 54px;
    height: 46px;
   
}

.navlinks ul{
    list-style-type: none;
    display: flex;
    margin-left: 156px;    
}

.navlinks ul>li{
    padding-right: 34px;
}

.navlinks-onboard{
    list-style-type: none;
    display: flex;
    align-items: center;
    position:absolute;
    right: 0;
}



.navlinks-onboard li{
    margin-right: 58px;
}

.navlinks-onboard li img{
    margin-left: 7px;
}



button{
    height: 62px;
    width: 154px;
    color: rgba(48, 48, 48, 1);
    background-color: white;
    border-radius: 6px;
    font-family: "Suisse Intl", sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;   
    padding: 0;
    border: none;
}

button:hover{
    background-color: rgba(16, 95, 83);
    color: white;
    cursor: pointer;
}

/*navbar*/

/*Hero Section*/

.main-content{
background: url(/images/Color\ Background.svg);
background-repeat: no-repeat;
background-position: right;
background-size: contain;
height: calc(100vh - 140px);
}

.container{
    display: flex;
    position: relative;
}

h1{
    color: white;
    width: 439px;
    line-height: 52px;
    margin: 90px 0 0 0;
    padding: 0;
}

.highlights{
    display: flex;
    list-style-type: none;
    font-size: 21px;
    font-weight: 600;
    color: white;
    padding: 0;
    margin-top: 30px;
}

.highlights img{
    margin: auto 12px;
    align-items: center;
    
}

.links{
    margin-top: 55px;
    display: flex;
    
    
}

.apple-link{
    margin-right: 40px;
}

.main-content a{
    background: rgba(54, 54, 54, 0.56);
    backdrop-filter: blur(31px);
    text-align: center;
    border-radius: 10px;
    font-family: "suisse intl", sans-serif;
    text-decoration: none;
    color: white;    
    font-size: 14px;
    font-weight: 450px;
    white-space: normal;
word-wrap: break-word;

}

.main-content a img{
    margin: 19px 19px 24px 30px;
    text-align: center;
}

.density{
    display: flex;
    margin-top: 50px;

}
.flex {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.flex p{
    text-align: left;
    float: right; 
    padding: 20px 30px 0 0;   
}

.big-txt {
    font-size: 17px;
    text-transform: capitalize;
}

.credit-cards img:nth-of-type(1){
    position: absolute;
    right: 0;
    top: 20px;
    z-index: 50;
}

.credit-cards img:nth-of-type(2){
    position: absolute;
    right: 0;
    z-index: 100;
    top: 58%;
}

